<div class="form-container" >
    <h3 class="form-title">Add New Expense Transaction</h3>
    <div>
        <form #myForm="ngForm">
            <p>
           
                <label for="amount">Amount</label>
                <input type="text" name="amount" id="amount" />
            </p>
           
           <p>
                <label for="type">Expense Type</label>
                <select  name="type" id="type">
                    <option value="food and drinks">Food and Drinks</option>
                    <option value="shopping">Shopping</option>
                    <option value="transportation">Transportation</option>
                    <option value="housing">Housing</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="education">Education</option>
                    <option value="healthcare">Healthcare</option>
                    <option value="car">Car</option>
                </select>    
            </p>
            <p>
                <label for="type">Payment Method</label>
                <select  name="type" id="type" >
                    <option value="Cash Payment">Cash Payment</option>
                    <option value="Card Payment">Card Payment</option>
                    <option value="UPI">UPI</option>
                    <option value="Net Banking">Net Banking</option>
                </select>    
            </p>
            <p>
                <label for="Date">Date</label>
                <input type="date" name="date" id="date" />
            </p>
            <p class="actions">
                <button type="submit" [disabled]="myForm.invalid">Submit</button>
            </p>
        </form>
    </div>
</div>